extends layout

block content
  if currentUser 
    a(href="/message")
      button.submit Add Message
  each message in message_list
    .message-card
      h3 #{message.title}
      p #{message.body}
      if currentUser && currentUser.membership != "user"
        .author
          h4 Author:
          p #{message.author.username}
        h4 #{message.date.toDateString()}
      else
        .author
          h4 Author: 
          p Anonymous
      if currentUser && currentUser.membership === "admin"
        .delete-card
          a(href=`/delete/${message._id}`)
            button.delete Delete Message
  else
    h1 No messages  
